
.main-page {
  width: 100vw;
  height: 100vh;
  background-color: #393E46;
  position: relative;
}

.main-title {
  font-size: 5rem;
  position: absolute;
  top:3rem;
  left: 50%;
  width: auto;
  margin-top: 2rem;
  text-align: center;
  transform:translate(-50%, -50%);  
  color: white;
  font-family: 'Oleo Script Swash Caps', cursive;
  text-shadow: 0 1px 0 rgba(black, .1);
  text-indent: .3em;
}

.box {
  position:absolute;
  top:50%;
  left: 50%;
  transform:translate(-50%, -50%);
  width: 300px;
  height: 300px;
  border-radius: 300px;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2);
  background: lighten(#f0f4c3, 10%);
	display: flex;
	justify-content: center;
	align-items: center;
  overflow: hidden;
}

.main-to-home {
  position:absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
  margin-top: 14rem;
  width: auto;
  height: auto;
  border: solid 0.2rem rgb(23, 14, 82);
  border-radius: 30px;
  padding: 10px;
  text-decoration: none;
}

.wave {	
  display: flex;
	justify-content: center;
	align-items: center;
  opacity: .7;
  position: absolute;
  top: 3%;
  left: 50%;
  background: #13ADB5;
  width: 500px;
  height: 500px;
  margin-left: -250px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 3000ms infinite linear;
}

.wave.-three {
  animation: drift 5000ms infinite linear;
}

.wave.-two {
  animation: drift 7000ms infinite linear;
  opacity: .1;
  background: rgb(23, 14, 82);
}

.box::after {
  content: '';
  opacity: 0.9;
	justify-content: center;
	align-items: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent, #88b9eec2 0.1%, #ddeeff2b 60%, #ffffff00 85%);
  transform: translate3d(0, 0, 0);
}

.title {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  line-height: 300px;
  text-align: center;
  transform: translate3d(0, 0, 0);
  color: white;
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 92px;
  text-shadow: 0 1px 0 rgba(black, .1);
  text-indent: .3em;
}

.main-nav {
  display: none;
  margin-top: 3.5rem;
  margin-left: 0.5rem;
  text-align: right;
}

.main-hamburger {
  display: none;
  color: rgba(255, 255, 255, 0.7);
  margin: 2rem;
  font-size: 1.5rem;
}
.main-hamburger:hover {
  color:teal;
  transition: color .2s ease-in;
}
.main-hamburger.-open {
  color:teal;
  margin-left: 0rem;
}

.main-hamburger-list {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: snow;
  animation: 2s linear 1s slidein;
  /* transform: translate3d(-100vw, 0, 0); */
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-hamburger-list li {
  margin-top: 2rem;
  transform: translate(1rem, 0);
  font-size: 1.2rem;
}

@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}

/* PC , 테블릿 가로 (1024px ~)*/
@media all and (min-width:1024px) {

} 
/* 테블릿 세로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:768px) and (max-width:1023px) {
  .main-nav {
    display: inline;
  }
  .main-hamburger {
    display: inline;
  }
  .main-title {
    font-size: 3rem;
  }
  .wave {
    width: 350px;
    height: 350px;
    margin-left: -175px;
    margin-top: -175px;
  }

  .box {
    width: 210px;
    height: 210px;
  }
} 
/* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/ 
@media all and (min-width:480px) and (max-width:767px) {
  .main-nav {
    display: inline;
  }
  .main-hamburger {
    display: inline;
  }
  .main-title {
    font-size: 3rem;
  }
  .wave {
    width: 350px;
    height: 350px;
    margin-left: -175px;
    margin-top: -175px;
  }

  .box {
    width: 210px;
    height: 210px;
  }
} 
/* 모바일 가로, 테블릿 세로 (해상도 ~ 479px)*/ 
@media all and (max-width:479px) {
  .main-nav {
    display: inline;
  }
  .main-hamburger {
    display: inline;
  }
  .main-title {
    font-size: 3rem;
  }
  .wave {
    width: 350px;
    height: 350px;
    margin-left: -175px;
    margin-top: -175px;
  }

  .box {
    width: 210px;
    height: 210px;
  }
}
