.footer-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-bottom: 2.25em;
  margin: 0;
  text-align: center;
  z-index: 1;
}

.footer-tab {
  float: left;
  width: 33.33%;
}

.footer-wrap {
  max-width: 62.5em;
  margin: 0 auto;
  padding: 0 1.6875em;
}

.footer-wrap .footer-tab-left {
  text-align: left;
}

.footer-wrap .footer-tab-center {
  text-align: center;
}

.footer-wrap .footer-tab-right {
  text-align: right;
}

.footer-content a {
  color: rgba(255, 255, 255, 0.7);
}

.footer-wrap .logo {
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 3rem;
  padding-left: 0.2em;
  text-align: center;
  line-height: 1;
  margin: 0;
  color: #28384F;
}

.footer-tab h3 {
  line-height: 1;
  margin: 0 0 1.15em;
  color: #28384F;
  font-size: 1.2em;
}

.footer-tab p {
  font-size: 0.9rem;
  margin: 0;
  line-height: 1.92em;
}

.footer-tab .footer-block-inner {
  margin-bottom: 36px;
}

.footer-tab .footer-block-inner:last-child {
  margin-bottom: 0;
}

.footer-content .copyright {
  text-align: center;
  margin-top: 10rem;
  padding: 0 2rem;
  color: #28384F;
}

@media (max-width: 768px) {
  .footer-tab {
    width: 100%;
    text-align: center!important;
    margin-bottom: 3.75rem;
  }

  .footer-content .copyright {
    font-size: 0.8rem;
  }
}